{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}
<table>
  <td></td>
</table>


  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Databases</li>
  </ol>

<div class="container">

</div>
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-building"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'apartment_new' %}">+New apartment</a>
      Properties</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>

              <th>#</th>
              <th>Nickname</th>
              <th>Address</th>
              <th>Unit</th>
              <th>Landlord</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Nickname</th>
              <th>Address</th>
              <th>Unit</th>
              <th>Landlord</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          {% for apartment in apartments %}
            <tr>
              <td>{{apartment.pk}}</td>
              <td>{{apartment.nickname}}</td>
              <td>{{apartment.address}}</td>
              <td>{{apartment.unit}}</td>
              <td>{{apartment.landlord}}</td>
              <td><a href="{% url 'apartment_edit' pk=apartment.pk %}"><span class="fa fa-pencil"></span></a>
                   <a href="{% url 'apartment_delete' pk=apartment.pk %}"><span class="fa fa-remove"></span></a></td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
