{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>
    {% if not form.instance.pk %}
    New Apartment
    {% else %}
    Update Apartment
    {% endif %}
  </h1>
  <hr />
  <form class="" method="POST">
    {% csrf_token %}
    <div class="col-4">{{form.nickname|as_crispy_field}}</div>
    <div class="col-4">{{form.address|as_crispy_field}}</div>
    <div class="col-4">{{form.unit|as_crispy_field}}</div>
    <div class="col-4">{{form.landlord|as_crispy_field}}</div>

    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <a class="btn btn-secondary btn-lg" href="{% url 'apartment_list' %}">Cancel</a>
  </form>

{% endblock %}
