{% extends 'crm/base.html' %}

{% block content %}

<form method="POST">
  {% csrf_token %}
  <p>Are you sure you want to delete {{ object}}?</p>
  <input class="btn btn-danger" type="submit" value="Confirm">
  <a class="btn btn-secondary btn-lg" href="{% url 'property_list' %}">Cancel</a>
</form>

{% endblock %}
