<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="node_modules/octicons/build/font/octicons.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/crm.css' %}">

    <!-- JS -->
    <script src="{% static 'js/crm.js' %}"></script>

    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Alternative to Bootstrap 3 Glyphicons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Datetimepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js "></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css" />

  </head>
  <body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Rent a Place</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apartment_list' %}">Apartments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'landlord_list' %}">Landlords</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tenant_list' %}">Tenants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'booking_list' %}">Bookings</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'admin:index' %}" aria-label="Login">
              <span class="fa fa-user" aria-hidden="true"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          </li>
        </ul>
        </div>
        {% endif %}
        </div>
        </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
