{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'batch_list' %}">Batch List</a>
    </li>
    <li class="breadcrumb-item active">Batch Review</li>
  </ol>

  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
  {% endif %}

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-file-signature"></i>
      {% if batch.status == "Pending" %}
      <a class = 'btn btn-danger pull-right'  href="{% url 'batch_delete' pk=pk %}">Cancel Batch</a>
      <a class = 'btn btn-success pull-right' style='margin-right:5px;' href="{% url 'batch_send' pk=pk %}">Approve Batch</a>
      {% endif %}
      Batch {{pk}}</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Tenant</th>
              <th>Apartment</th>
              <th>Amount</th>
              <th>Payment Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Tenant</th>
              <th>Apartment</th>
              <th>Amount</th>
              <th>Payment Type</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          {% for payment in payments %}
            <tr style="{% if batch.status == 'Sent' %} color:lightgray {% endif %}">
              <td>{{payment.id}}</td>
              <td>{{payment.tenant}}</td>
              <td>{{payment.booking.apartment}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.payment_type}}</td>
              <td>
                {% if batch.status == "Pending" %}
                <a href="{% url 'payment_update' pk=payment.id %}" ><span class="fa fa-pencil"></span></a>
                {% else %}
                <span class="fa fa-pencil" style="color:#DDDDDD;"></span>
                {% endif %}
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
