{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-file-signature"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'batch_new_1' %}">+New batch</a>
      Batch List</div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Status</th>
              <th>Confirmation Code</th>
              <th>Landlord</th>
              <th>Total</th>
              <th>Process Date</th>
              <th>Settlement Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Status</th>
              <th>Confirmation Code</th>
              <th>Total</th>
              <th>State</th>
              <th>Status</th>
              <th>Settlement Date</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {{batch_amounts.1}}
          {% for batch in batches %}
          <tr style="{% if batch.status == 'Sent' %} color:lightgray {% endif %}">
              <td>{{batch.id}}</td>
              <td>{{batch.status}}</td>
              <td>{% if batch.status == 'Sent' %}{{batch.landlord.sub_merchant_id}}-{{batch.confirmation_code}}{% endif %}</td>
              <td>{{batch.landlord}}</td>
              <td>{{batch.total}}</td>
              <td>{{batch.process_date}}</td>
              <td></td>
              <td>
                <a href="{% url 'batch_review' pk=batch.id %}">Review</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>
{% endblock %}