{% extends 'crm/base.html' %}

{% block content %}

<form method="POST">
  {% csrf_token %}
  <p>Are you sure you want to delete {{object}}?</p>
  <input class="btn btn-danger" type="submit" value="Confirm">
</form>

{% endblock %}
