{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Databases</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-file-signature"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'booking_new' %}">+New booking</a>
      Bookings</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Status</th>
              <th>Full name</th>
              <th>Check-in</th>
              <th>Check-out</th>
              <th>Landlord</th>
              <th>Apartment</th>
              <th>Rent</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Status</th>
              <th>Full name</th>
              <th>Check-in</th>
              <th>Check-out</th>
              <th>Landlord</th>
              <th>Apartment</th>
              <th id="tot-rent"></th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          {% for booking in bookings %}
            <tr>
              <td>{{booking.status}}</td>
              <td>{{booking.tenant}}</td>
              <td>{{booking.check_in}}</td>
              <td>{{booking.check_out}}</td>
              <td>{{booking.apartment.landlord}}</td>
              <td>{{booking.apartment}}</td>
              <td>{{booking.rent}}</td>  
              <td>
                <a href="{% url 'send:reminder' pk=booking.pk %}"><span class="fa fa-envelope"></span></a>
                <a href="{% url 'booking_edit' pk=booking.pk %}"><span class="fa fa-pencil"></span></a>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
