<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>
    {% if not form.instance.pk %}
    New Booking
    {% else %}
    Update Booking
    {% endif %}
  </h1>
  <hr />

  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
  {% endif %}


  <form class="" method="POST">
    {% csrf_token %}
    <div class="col-sm-3">{{form|crispy}}</div>

    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <a class="btn btn-secondary btn-lg" href="{% url 'booking_list' %}">Cancel</a>
  </form>

{% endblock %}
