{% extends 'crm/base.html' %}

{% block content %}

<!-- ###Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Overview</li>
</ol>
<hr />
<!-- ###Breadcrumbs -->

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="mr-5">{{count_apartment}} properties</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'apartment_list' %}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="mr-5">{{count_landlord}} landlords</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'landlord_list' %}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mr-5">{{count_tenant}} tenants</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'tenant_list' %}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <!-- <i class="fas fa-fw fa-life-ring"></i> -->
            <i class="fas fa-file-signature"></i>
          </div>
          <div class="mr-5">{{count_booking}} bookings</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'booking_list' %}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>


{% endblock %}
