{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>
    {% if not form.instance.pk %}
    New Landlord
    {% else %}
    Update Landlord
    {% endif %}
  </h1>
  <hr />
  <form class="" method="POST">
    {% csrf_token %}
    <div class="col-sm-3">{{form|crispy}}</div>

    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <a class="btn btn-secondary btn-lg" href="{% url 'landlord_list' %}">Cancel</a>
  </form>

{% endblock %}
