{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Databases</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-user-tie"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'landlord_new' %}">+New landlord</a>
      Landlords</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Status</th>
              <th>Business Name</th>
              <th>Contact Name</th>
              <th>Last Name</th>
              <th>Office</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Turnaround</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Status</th>
              <th>Business Name</th>
              <th>Contact Name</th>
              <th>Last Name</th>
              <th>Office</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Turnaround</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          {% for landlord in landlords %}
            <tr>
              <td>{% if landlord.sub_merchant_id %} Live {% else %} Inactive {% endif %}</td>
              <td>{{landlord.business}}</td>
              <td>{{landlord.name}}</td>
              <td>{{landlord.last_name}}</td>
              <td>{{landlord.office}}</td>
              <td>{{landlord.email}}</td>
              <td>{{landlord.phone}}</td>
              <td>{{landlord.turnaround}}</td>
              <td><a href="{% url 'landlord_sample_statement' pk=landlord.pk %}"><span class="fas fa-vial"></span></a>
                  <a href="{% url 'send:statement' pk=landlord.pk %}"><span class="fa fa-envelope"></span></a>
                   <a href="{% url 'landlord_edit' pk=landlord.pk %}"><span class="fa fa-pencil"></span></a>
                   <a href="{% url 'landlord_delete' pk=landlord.pk %}"><span class="fa fa-remove"></span></a></td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
