{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Databases</li>
  </ol>
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-user-tie"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'profile_create2' %}">+New Profile</a>
      Profiles</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {% for profile in profiles %}
            <tr>
              
              <td>{{profile.pk}}</td>
              <td>{{profile.full_name}}</td>
              <td>{{profile.email}}</td>
              <td>{{profile.phone}}</td>
              
              <td>
                <a href="{% url 'update_profile' pk=profile.pk %}"><span class="fas fa-user-circle"></span></a>
                <a href="{% url 'load_credit_card' pk=profile.pk %}"><span class="far fa-credit-card"></span></a>
                <a href="{% url 'update_bank_account' pk=profile.pk %}"><span class="fas fa-university"></span></a>
                <a href="{% url 'delete_profile' pk=profile.pk %}"><span class="fas fa-trash"></span></a>
              </td>


            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
