{% extends 'crm/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Profile</li>
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Credit card</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Account details</a>
    </li>
</ol>


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<!-- <h1>Edit Profile</h1> -->

<form action="/bambora/batch" method="post">
    {% csrf_token %}
    <div class="col-sm-3">{{form|crispy}}</div>
    <input  class="btn btn-primary btn-lg" type="submit" value="Submit">
    <a class="btn btn-secondary btn-lg" href="{% url 'profile_list' %}">Cancel</a>
</form>




{% endblock %}
