{% extends 'crm/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<form method="POST">
  {% csrf_token %}
  <p>Are you sure you want to delete {{ object}}?</p>
  <input class="btn btn-danger" type="submit" value="Confirm">
</form>

{% endblock %}
