{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>
    {% if not form.instance.pk %}
    New Setting
    {% else %}
    Update Setting
    {% endif %}
  </h1>
  <hr />
  <form class="" method="POST">
    {% csrf_token %}
    <div class="col-4">{{form.setting|as_crispy_field}}</div>
    <div class="col-4">{{form.status|as_crispy_field}}</div>
    <div class="col-4">{{form.value|as_crispy_field}}</div>

    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <a class="btn btn-secondary btn-lg" href="{% url 'setting_list' %}">Cancel</a>
  </form>

{% endblock %}
