{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Settings</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-user-tie"></i>
    <a class = 'btn btn-primary pull-right' href="{% url 'setting_new' %}">+New Setting</a>
    Settings</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Setting</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Setting</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
        {% for setting in settings %}
          <tr>
            <td>{{setting.setting}}</td>
            <td>{{setting.status}}</td>
            <td><a href="{% url 'setting_edit' pk=setting.pk %}"><span class="fa fa-pencil"></span></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

{% endblock %}
