{% extends 'crm/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Databases</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-users"></i>
      <a class = 'btn btn-primary pull-right' href="{% url 'tenant_new' %}">+New tenant</a>
      <a style = "margin-right: 10px" class = 'btn btn-primary pull-right' href="{% url 'tenant_upload' %}">Import CSV</a>
      Tenants</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Status</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Status</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          {% for tenant in tenants %}
            <tr>
              <td>{% if tenant.profile_set.all %} Live {% else %} Inactive {% endif %}</td>
              <td>{{tenant.full_name}}</td>
              <td>{{tenant.email}}</td>
              <td>{{tenant.phone}}</td>
              <td>
                <a href="{% url 'tenant_edit' pk=tenant.pk %}"><span class="fa fa-pencil"></span></a>
                {% if tenant.profile_set.all %}
                <a href="{% url 'bank_account_update' pk=tenant.pk %}"><span class="fas fa-university"></span></a>
                <a href="{% url 'credit_card_update' pk=tenant.pk %}"><span class="far fa-credit-card"></span></a>
                {% endif %}
                <a href="{% url 'tenant_delete' pk=tenant.pk %}"><span class="fa fa-remove"></span></a>
            </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>

{% endblock %}
