{% extends 'crm/base.html' %}

{% block content %}
  <h1>Upload a list of tenants</h1>
  <p>Order of the CSV should be name, last_name, email, phone</p>


  <!-- multipart/form-data allows us to upload a file -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label> Upload a file</label>
    <input type="file" name="file">
    <p>Only accepts CSV files.</p>
    <button type="submit" class="btn btn-primary btn-lg">Upload</button>
  </form>
{% endblock %}
