{% extends 'crm/base.html' %}

{% block content %}
  <h1>Tenant list successfully uploaded!</h1>
  <a href="{% url 'tenant_list' %}"><span class='fa fa-long-arrow-left'></span>Return</a>

{% endblock %}
