<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'startbootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


  <!-- Custom styles for this template-->
  <link href="{% static 'startbootstrap/css/sb-admin.css' %}" rel="stylesheet">


</head>
{% block content %}
<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        {% if form.errors%}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <div class="form-label-group">
              {{ form.username}}
              <label for="inputEmail">Username</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ form.password}}
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
          <input type="submit" id='button' class='btn btn-primary btn-block' name="" value="Login">
          <input type="hidden" name="next" value="{{next}}">
        </form>
        <!-- <button class='btn btn-primary text-center'> -->
          <div class="text-center mt-3">
            <a class='btn btn-primary btn-block' style='color:white;cursor: pointer; background-color: #4184f3;' href="http://127.0.0.1:8000/accounts/google/login/"><i class="fab fa-google" style='padding-right: 5px;'></i>Login with Google</a>
          </div>

        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'startbootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>


</body>

</html>
